.loader {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    top: 1px;
    left: 1px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        margin: 3px;
        border-width: 3px;
        border-style: solid;
        border-color: var(--line-5) transparent transparent transparent;
        border-radius: 50%;
        animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
    div:nth-child(1) {
        animation-delay: -0.45s;
    }
    div:nth-child(2) {
        animation-delay: -0.3s;
    }
    div:nth-child(3) {
        animation-delay: -0.15s;
    }
    &.contrast div {
        border-color: var(--contrast-6) transparent transparent transparent;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
