:root {
    --contrast-1: #2cffcc;
    --contrast-2: #ff7472;
    --contrast-3: #58afff;
    --contrast-4: #ffe079;
    --contrast-6: #2cffcc;

    --contrast-1-rgb: 44, 255, 204;
    --contrast-2-rgb: 255, 116, 114;
    --contrast-3-rgb: 88, 175, 255;
    --contrast-4-rgb: 255, 224, 121;
    --contrast-6-rgb: 44, 255, 204;

    --line-1: #161616; // 7 m4
    --line-2: #343434; // 6 m3.5
    --line-3: #707070; // 5 m3
    --line-4: #989898; // 4 m2
    --line-5: #d6d6d6; // 3 m1.7
    --line-6: #e7e7e7; // 2 m1.5
    --line-7: #f6f6f6; // 1 m1

    --line-1-rgb: 22, 22, 22;
    --line-2-rgb: 52, 52, 52;
    --line-3-rgb: 112, 112, 112;
    --line-4-rgb: 152, 152, 152;
    --line-5-rgb: 214, 214, 214;
    --line-6-rgb: 231, 231, 231;
    --line-7-rgb: 246, 246, 246;

    --shadow: 0px 8px 51px rgba(0, 0, 0, 0.46);
    --shadow-strong: 0px 8px 72px rgba(0, 0, 0, 0.84);
}
