.h1,
.h1_math {
    font-size: 36px;
    line-height: 46px;
}
.h1 {
    font-family: var(--font-Semibold);
}
.h1_math {
    font-family: var(--font-Math);
}

.h2,
.h2_math {
    font-size: 27px;
    line-height: 34px;
}
.h2 {
    font-family: var(--font-Semibold);
}
.h2_math {
    font-family: var(--font-Math);
}

.st1,
.st1_math {
    font-size: 16px;
    line-height: 20px;
}
.st1 {
    font-family: var(--font-Regular);
}
.st1_math {
    font-family: var(--font-Math);
}

.st2,
.st2_math {
    font-size: 15px;
    line-height: 18px;
}
.st2 {
    font-family: var(--font-Regular);
}
.st2_math {
    font-family: var(--font-Math);
}

.body1,
.body1_math {
    font-size: 15px;
    line-height: 16px;
}
.body1 {
    font-family: var(--font-Regular);
}
.body1_math {
    font-family: var(--font-Math);
}

.body2,
.body2_math {
    font-size: 12px;
    line-height: 14px;
}
.body2 {
    font-family: var(--font-Regular);
}
.body2_math {
    font-family: var(--font-Math);
}

.body3,
.body3_math {
    font-size: 11px;
    line-height: 13px;
}
.body3 {
    font-family: var(--font-Regular);
}
.body3_math {
    font-family: var(--font-Math);
}

.body4,
.body4_math {
    font-size: 10px;
    line-height: 12px;
}
.body4 {
    font-family: var(--font-Regular);
}
.body4_math {
    font-family: var(--font-Math);
}
