.paper {
    border: 1px solid var(--line-3);
    border-radius: 4px;
    color: var(--line-4);
    &.column {
        flex-direction: column;
    }
    &.padding {
        padding: 46px 46px;
    }
    &.background {
        background: var(--line-1);
    }
}