.tabs {
    background: var(--line-2);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 7px 9px;
    border-radius: 4px;
    .tabs__item {
        border-radius: 4px;
        flex: 1;
        text-align: center;
        font-size: 13px;
        padding: 11px 0;
        color: var(--line-7);
        &.active {
            background: var(--line-1);
        }
        &:not(.active) {
            cursor: pointer;
        }
    }
}
