.tooltip-wrapper {
    position: relative;
    .tooltip {
        display: none;
        color: var(--line-7);
        padding: 6px 12px;
        text-align: center;
        border-radius: 3px;
        background: var(--line-1);
        width: fit-content;
    }
    &:hover > .tooltip.tooltip_position_0 {
        display: block;
        position: absolute;
        top: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
    }
    &:hover > .tooltip.tooltip_position_1 {
        display: block;
        position: absolute;
        left: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);
    }
}
